.header {
  position: relative;
}

.header h1, h3 {
  margin-bottom: 10px;
}

.header img {
  position: absolute;
  right: 0;
  top: 0;
}

.body p {
  margin-top: -30px;
  font-weight: lighter;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-container p {
  margin-bottom: 20px;
  font-size: 18px;
}

.address-container span {
  margin-right: 20px;
}

.address-container span > img {
  margin-right: 5px;
}